<a href="https://colab.research.google.com/github/ustab/NFL/blob/main/01_DAwPy_Traffic_Police_Stop_Project/.ipynb_checkpoints/02_DA-DAwPy_TrafficPoliceStopProject_01_Preparing_The_Data_For_Analysis_C8406-checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJECT 1 : TRAFFIC POLICE STOPS

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

INSTRUCTIONS

Import pandas using the alias pd.
Read the file police.csv into a DataFrame named ri
Examine the first 5 rows of the DataFrame (known as the "head").
Count the number of missing values in each column: Use .isnull() to check which DataFrame elements are missing, and then take the .sum() to count the number of True values in each column.

### 1. ÇALIŞACAĞIM KÜTÜPHANELERİ BELİRLEYİP IMPORT EDEREK BAŞLIYORUM.

In [77]:
import pandas as pd
import numpy as np

### 2. DATASETİMİ ÇAĞIRIYORUM.

Bu dataseti, notebookumu yoracak kadar büyük olduğundan sitemim zorlanmasın diye belli bir miktarı (50000 satır) ile çalışmaya karar verdim.

In [78]:
ri=pd.read_csv('/content/RI_cleaned (1) (1).csv', nrows = 50000)
ri

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,RI-2006-35917,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
49996,RI-2006-35918,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49997,RI-2006-35919,RI,2006-08-08,22:53,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X4
49998,RI-2006-35920,RI,2006-08-08,23:00,Zone K1,NaN,NaN,NaN,600,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
49999,RI-2006-35921,RI,2006-08-08,23:00,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K3

In [79]:
ri.shape

(50000, 26)

In [80]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [81]:
ri.info

<bound method DataFrame.info of                   id state   stop_date stop_time location_raw  county_name  \
0      RI-2005-00001    RI  2005-01-02     01:55      Zone K1          NaN
1      RI-2005-00002    RI  2005-01-02     20:30      Zone X4          NaN
2      RI-2005-00003    RI  2005-01-04     11:30      Zone X1          NaN
3      RI-2005-00004    RI  2005-01-04     12:55      Zone X4          NaN
4      RI-2005-00005    RI  2005-01-06     01:30      Zone X4          NaN
...              ...   ...         ...       ...          ...          ...
49995  RI-2006-35917    RI  2006-08-08     22:45      Zone K3          NaN
49996  RI-2006-35918    RI  2006-08-08     22:45      Zone K3          NaN
49997  RI-2006-35919    RI  2006-08-08     22:53      Zone X4          NaN
49998  RI-2006-35920    RI  2006-08-08     23:00      Zone K1          NaN
49999  RI-2006-35921    RI  2006-08-08     23:00      Zone K3          NaN

       county_fips  fine_grained_location police_department driver_gender  \
0              NaN                    NaN               600             M
1              NaN                    NaN               500             M
2              NaN                    NaN                 0           NaN
3              NaN                    NaN               500             M
4              NaN                    NaN               500             M
...            ...                    ...               ...           ...
49995          NaN                    NaN               300             M
49996          NaN                    NaN               300             F
49997          NaN                    NaN               500             M
49998          NaN                    NaN               600             F
49999          NaN                    NaN               300             M

       ...  search_conducted  search_type_raw search_type contraband_found  \
0      ...             False              NaN         NaN            False
1      ...             False              NaN         NaN            False
2      ...             False              NaN         NaN            False
3      ...             False              NaN         NaN            False
4      ...             False              NaN         NaN            False
...    ...               ...              ...         ...              ...
49995  ...             False              NaN         NaN            False
49996  ...             False              NaN         NaN            False
49997  ...             False              NaN         NaN            False
49998  ...             False              NaN         NaN            False
49999  ...             False              NaN         NaN            False

      stop_outcome is_arrested  stop_duration out_of_state drugs_related_stop  \
0         Citation       False       0-15 Min        False              False
1         Citation       False      16-30 Min        False              False
2              NaN         NaN            NaN          NaN              False
3         Citation       False       0-15 Min        False              False
4         Citation       False       0-15 Min        False              False
...            ...         ...            ...          ...                ...
49995     Citation       False       0-15 Min        False              False
49996     Citation       False       0-15 Min         True              False
49997     Citation       False      16-30 Min         True              False
49998     Citation       False       0-15 Min        False              False
49999     Citation       False      16-30 Min        False              False

       district
0       Zone K1
1       Zone X4
2       Zone X1
3       Zone X4
4       Zone X4
...         ...
49995   Zone K3
49996   Zone K3
49997   Zone X4
49998   Zone K1
49999   Zone K3

[50000 rows x 26 columns]>

In [82]:
ri.head

<bound method NDFrame.head of                   id state   stop_date stop_time location_raw  county_name  \
0      RI-2005-00001    RI  2005-01-02     01:55      Zone K1          NaN
1      RI-2005-00002    RI  2005-01-02     20:30      Zone X4          NaN
2      RI-2005-00003    RI  2005-01-04     11:30      Zone X1          NaN
3      RI-2005-00004    RI  2005-01-04     12:55      Zone X4          NaN
4      RI-2005-00005    RI  2005-01-06     01:30      Zone X4          NaN
...              ...   ...         ...       ...          ...          ...
49995  RI-2006-35917    RI  2006-08-08     22:45      Zone K3          NaN
49996  RI-2006-35918    RI  2006-08-08     22:45      Zone K3          NaN
49997  RI-2006-35919    RI  2006-08-08     22:53      Zone X4          NaN
49998  RI-2006-35920    RI  2006-08-08     23:00      Zone K1          NaN
49999  RI-2006-35921    RI  2006-08-08     23:00      Zone K3          NaN

       county_fips  fine_grained_location police_department driver_gender  \
0              NaN                    NaN               600             M
1              NaN                    NaN               500             M
2              NaN                    NaN                 0           NaN
3              NaN                    NaN               500             M
4              NaN                    NaN               500             M
...            ...                    ...               ...           ...
49995          NaN                    NaN               300             M
49996          NaN                    NaN               300             F
49997          NaN                    NaN               500             M
49998          NaN                    NaN               600             F
49999          NaN                    NaN               300             M

       ...  search_conducted  search_type_raw search_type contraband_found  \
0      ...             False              NaN         NaN            False
1      ...             False              NaN         NaN            False
2      ...             False              NaN         NaN            False
3      ...             False              NaN         NaN            False
4      ...             False              NaN         NaN            False
...    ...               ...              ...         ...              ...
49995  ...             False              NaN         NaN            False
49996  ...             False              NaN         NaN            False
49997  ...             False              NaN         NaN            False
49998  ...             False              NaN         NaN            False
49999  ...             False              NaN         NaN            False

      stop_outcome is_arrested  stop_duration out_of_state drugs_related_stop  \
0         Citation       False       0-15 Min        False              False
1         Citation       False      16-30 Min        False              False
2              NaN         NaN            NaN          NaN              False
3         Citation       False       0-15 Min        False              False
4         Citation       False       0-15 Min        False              False
...            ...         ...            ...          ...                ...
49995     Citation       False       0-15 Min        False              False
49996     Citation       False       0-15 Min         True              False
49997     Citation       False      16-30 Min         True              False
49998     Citation       False       0-15 Min        False              False
49999     Citation       False      16-30 Min        False              False

       district
0       Zone K1
1       Zone X4
2       Zone X1
3       Zone X4
4       Zone X4
...         ...
49995   Zone K3
49996   Zone K3
49997   Zone X4
49998   Zone K1
49999   Zone K3

[50000 rows x 26 columns]>

In [84]:
ri.shape

(50000, 26)

In [85]:
#ri.dropna(0) tum satirlari siliyor

In [86]:
#rid=ri.dropna(1)
#rid

In [87]:
ri.shape

(50000, 26)

In [88]:
ri.info

<bound method DataFrame.info of                   id state   stop_date stop_time location_raw  county_name  \
0      RI-2005-00001    RI  2005-01-02     01:55      Zone K1          NaN
1      RI-2005-00002    RI  2005-01-02     20:30      Zone X4          NaN
2      RI-2005-00003    RI  2005-01-04     11:30      Zone X1          NaN
3      RI-2005-00004    RI  2005-01-04     12:55      Zone X4          NaN
4      RI-2005-00005    RI  2005-01-06     01:30      Zone X4          NaN
...              ...   ...         ...       ...          ...          ...
49995  RI-2006-35917    RI  2006-08-08     22:45      Zone K3          NaN
49996  RI-2006-35918    RI  2006-08-08     22:45      Zone K3          NaN
49997  RI-2006-35919    RI  2006-08-08     22:53      Zone X4          NaN
49998  RI-2006-35920    RI  2006-08-08     23:00      Zone K1          NaN
49999  RI-2006-35921    RI  2006-08-08     23:00      Zone K3          NaN

       county_fips  fine_grained_location police_department driver_gender  \
0              NaN                    NaN               600             M
1              NaN                    NaN               500             M
2              NaN                    NaN                 0           NaN
3              NaN                    NaN               500             M
4              NaN                    NaN               500             M
...            ...                    ...               ...           ...
49995          NaN                    NaN               300             M
49996          NaN                    NaN               300             F
49997          NaN                    NaN               500             M
49998          NaN                    NaN               600             F
49999          NaN                    NaN               300             M

       ...  search_conducted  search_type_raw search_type contraband_found  \
0      ...             False              NaN         NaN            False
1      ...             False              NaN         NaN            False
2      ...             False              NaN         NaN            False
3      ...             False              NaN         NaN            False
4      ...             False              NaN         NaN            False
...    ...               ...              ...         ...              ...
49995  ...             False              NaN         NaN            False
49996  ...             False              NaN         NaN            False
49997  ...             False              NaN         NaN            False
49998  ...             False              NaN         NaN            False
49999  ...             False              NaN         NaN            False

      stop_outcome is_arrested  stop_duration out_of_state drugs_related_stop  \
0         Citation       False       0-15 Min        False              False
1         Citation       False      16-30 Min        False              False
2              NaN         NaN            NaN          NaN              False
3         Citation       False       0-15 Min        False              False
4         Citation       False       0-15 Min        False              False
...            ...         ...            ...          ...                ...
49995     Citation       False       0-15 Min        False              False
49996     Citation       False       0-15 Min         True              False
49997     Citation       False      16-30 Min         True              False
49998     Citation       False       0-15 Min        False              False
49999     Citation       False      16-30 Min        False              False

       district
0       Zone K1
1       Zone X4
2       Zone X1
3       Zone X4
4       Zone X4
...         ...
49995   Zone K3
49996   Zone K3
49997   Zone X4
49998   Zone K1
49999   Zone K3

[50000 rows x 26 columns]>

### 3. DATASETİMDE NE TÜR VERİLER OLDUĞUNU GÖRMEK İÇİN İLK SATIRLARINA BAKIYORUM

In [90]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [91]:
ri.shape

(50000, 26)

### 4. SÜTUNLARIMI TOPLU HALDE GÖRMEK İSTİYORUM Kİ BAKALIM BU DATA BANA NE ANLATIYOR.

ve ilk bakışta hangi sütunlardan vazgeçebileceğimi anlamaya çalışıyorum (Data temizleme işlemine hazırlık yapıyorum)

In [92]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [93]:
ri.head

<bound method NDFrame.head of                   id state   stop_date stop_time location_raw  county_name  \
0      RI-2005-00001    RI  2005-01-02     01:55      Zone K1          NaN
1      RI-2005-00002    RI  2005-01-02     20:30      Zone X4          NaN
2      RI-2005-00003    RI  2005-01-04     11:30      Zone X1          NaN
3      RI-2005-00004    RI  2005-01-04     12:55      Zone X4          NaN
4      RI-2005-00005    RI  2005-01-06     01:30      Zone X4          NaN
...              ...   ...         ...       ...          ...          ...
49995  RI-2006-35917    RI  2006-08-08     22:45      Zone K3          NaN
49996  RI-2006-35918    RI  2006-08-08     22:45      Zone K3          NaN
49997  RI-2006-35919    RI  2006-08-08     22:53      Zone X4          NaN
49998  RI-2006-35920    RI  2006-08-08     23:00      Zone K1          NaN
49999  RI-2006-35921    RI  2006-08-08     23:00      Zone K3          NaN

       county_fips  fine_grained_location police_department driver_gender  \
0              NaN                    NaN               600             M
1              NaN                    NaN               500             M
2              NaN                    NaN                 0           NaN
3              NaN                    NaN               500             M
4              NaN                    NaN               500             M
...            ...                    ...               ...           ...
49995          NaN                    NaN               300             M
49996          NaN                    NaN               300             F
49997          NaN                    NaN               500             M
49998          NaN                    NaN               600             F
49999          NaN                    NaN               300             M

       ...  search_conducted  search_type_raw search_type contraband_found  \
0      ...             False              NaN         NaN            False
1      ...             False              NaN         NaN            False
2      ...             False              NaN         NaN            False
3      ...             False              NaN         NaN            False
4      ...             False              NaN         NaN            False
...    ...               ...              ...         ...              ...
49995  ...             False              NaN         NaN            False
49996  ...             False              NaN         NaN            False
49997  ...             False              NaN         NaN            False
49998  ...             False              NaN         NaN            False
49999  ...             False              NaN         NaN            False

      stop_outcome is_arrested  stop_duration out_of_state drugs_related_stop  \
0         Citation       False       0-15 Min        False              False
1         Citation       False      16-30 Min        False              False
2              NaN         NaN            NaN          NaN              False
3         Citation       False       0-15 Min        False              False
4         Citation       False       0-15 Min        False              False
...            ...         ...            ...          ...                ...
49995     Citation       False       0-15 Min        False              False
49996     Citation       False       0-15 Min         True              False
49997     Citation       False      16-30 Min         True              False
49998     Citation       False       0-15 Min        False              False
49999     Citation       False      16-30 Min        False              False

       district
0       Zone K1
1       Zone X4
2       Zone X1
3       Zone X4
4       Zone X4
...         ...
49995   Zone K3
49996   Zone K3
49997   Zone X4
49998   Zone K1
49999   Zone K3

[50000 rows x 26 columns]>

### 5. BOŞ SATIRLARIMI MISSING VALUE LARIMI GÖRMEK İSTİYORUM Kİ VAZGEÇEBİLECEĞİM SATIRLARI BELİRLEYEBİLEYİM. (VERİ TEMİZLEME İŞLEMİNE BAŞLADIM)

In [94]:
ri.isnull()

# Önceboş satırları missing valueları bir görelim.

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
49996,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
49997,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
49998,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
49999,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False

In [95]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [96]:
ri.isnull().sum()

# sütun bazında kaçar boş satır olduğunu görüyorum.

# şimdi bunları inceleyip düşürebileceklerimi düşüreceğim.
# veriyi temizlemeye başladım.

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

## Dropping columns

In [97]:
drop_columns = ["state", "county_name", "county_fips", "fine_grained_location"]

In [98]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the DataFrame, to make it easier for you to focus on the remaining columns.

You'll drop the county_name column because it only contains missing values, and you'll drop the state column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

INSTRUCTIONS

Examine the DataFrame's shape to find out the number of rows and columns.

Drop the columns that almost consist of missing values.

Examine the .shape again to verify that there are now two fewer columns.

### 6. DATASETİMİN SATIR-SÜTUN DURUMUNU (SHAPE'İNİ) İNCELİYORUM.

In [99]:
# birazdan sütun düşürdüğümde kıyaslamak için datasetimin şekline bakıyorum

In [100]:
ri.shape

(50000, 26)

### 7. SÜTUNLARDAN BAŞLAYARAK TEMİZLEME İŞLEMİNE BAŞLADIM.

State sütununu zaten çalışma yaptığım datasetimde tek bir state olması nedeniyle, country_name sütununu da tüm satırları boş olması nedeniyle işime yaramayacağından düşürüyorum ki geriye kalan verilere daha iyi odaklanabileyim.

In [101]:
# düşüreceğim sütunları önce bir değişkende topluyorum. bu önemli bir data analysist yaklaşımıdır.

drop_columns = ["state", "county_name", "county_fips", "fine_grained_location"]

In [102]:
ri.drop(drop_columns, axis = "columns", inplace=True)

# axis = columns veya axis = 1 iki doğru kullanım şeklidir.

In [105]:
# şimdi bakalım dataframe im ne duruma geldi.

ri.shape

# 26 sütundan 22 sütuna indiğini gördüm.

(50000, 22)

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the driver_gender column will be critical to many of your analyses. Because only a small fraction of rows are missing driver_gender, we'll drop those rows from the dataset.

INSTRUCTIONS

Count the number of missing values in each column.

Drop all rows that are missing driver_gender by passing the column name to the subset parameter of .dropna().

Count the number of missing values in each column again, to verify that none of the remaining rows are missing driver_gender.
Examine the DataFrame's .shape to see how many rows and columns remain.

### 8. ŞİMDİ SİLMEM GEREKEN SATIRLARI BELİRLEYİP SATIR SİLEREK TEMİZLEME İŞLEMİNE DEVAM EDİYORUM.

Belirli bir sütunun analiziniz için kritik olacağını bildiğinizde ve satırların yalnızca küçük bir bölümünde bu sütunda bir değer eksik olduğunda, bu satırları veri kümesinden çıkarmak genellikle mantıklıdır.

driver_gender sütunu analizlerimin çoğu için kritik olacaktır. Yalnızca küçük bir satırda driver_gender eksik olduğundan, bu satırları veri kümesinden çıkaracağız.

In [106]:
# tekrar missing value ları görelim.

# önce missing value ları görelim sonra bunları düşürüp düşürmemeye karar vereceğim

ri.isnull().sum()

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender          1990
driver_age_raw         1971
driver_age             2208
driver_race_raw        1988
driver_race            1988
violation_raw          1988
violation              1988
search_conducted          0
search_type_raw       47988
search_type           47988
contraband_found          0
stop_outcome           1988
is_arrested            1988
stop_duration          1988
out_of_state           2203
drugs_related_stop        0
district                  0
dtype: int64

driver_gender column will be critical to many of your analyses. because only a small fraction of rows are missing driver_gender, we'll drop those rows from the dataset.

driver_gender sütunu analizlerimin çoğu için kritik olacaktır. Yalnızca küçük bir satırda driver_gender eksik olduğundan, bu satırları veri kümesinden çıkaracağız.

In [107]:
ri.shape

(50000, 22)

In [108]:
# drop : içinde belirtilen verileri
# dropna : NaN ları düşürür
# drop_duplicates : tekrar olan verileri düşürür
# biz burda dropna kullanacağız. 

ri.dropna(subset = ["driver_gender"], inplace = True)

subset olarak driver_gender sütununu seçtiğimizden tüm data içinde değil, yalnızca subsette belirtilen sütun içindeki NaN değerleri düşürecek.

how parametresi default olarak "any" argümanını aldığından ve zaten şuan tek bir sütunda çalıştığımdan baktığı satırda zaten ya tek bir NaN görecek ya da dolu görecek.  NaN gördüğünü silecek. bu yüzden how, default olarak kalsın istedim. 

subset kullanmadan dropna yaptığımda NaN olan değerleri düşürünce içinde NaN değer olan tüm sütunların satırları gitmiş olacak. ama o satırda içinde değerli veri olan sütunlar da olabilir. Bunu subset ile yapacağız ve sadece belirttiğimiz sütundaki NaN olan değerlerin satırlarını silecek.

In [109]:
ri.shape

# yaklaşık 2000 satırın silindiğini gördüm.

(48010, 22)

In [111]:
ri.isnull().sum()

# tekar sütunların içinde NaN değer olan satır sayılarına bakıyorum

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

driver_race
driver_race_raw
driver_age 

gibi satırlar da sıfırlandı. demek ki onların da driver_gender gibi o satırlarında null değer varmış.

In [112]:
ri.shape

(48010, 22)

## Fixing a data type

We know that the is_arrested column currently has the object data type. In this exercise, we'll change the data type to bool, which is the most suitable type for a column containing True and False values.

Fixing the data type will enable us to use mathematical operations on the is_arrested column that would not be possible otherwise.

is_arrested sütununda şu anda True ve False değerler olsa da bunların nesne veri türüne sahip olduğunu biliyoruz. O yüzden bunları, True ve False değerlerini içeren bir sütun için en uygun veri türü olan bool olarak değiştireceğiz.

Veri türünü düzeltmek, is_arrested sütununda başka türlü mümkün olmayan matematiksel işlemleri kullanmamızı sağlayacaktır.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

### 9. DROP İŞLEMİNDEN SONRA FIXING İŞLEMİNE GEÇİYORUM

is_arrested sütununda şu anda True ve False değerler olsa da bunların nesne veri türüne sahip olduğunu biliyoruz. O yüzden bunları, True ve False değerlerini içeren bir sütun için en uygun veri türü olan bool olarak değiştireceğiz.

Veri türünü düzeltmek, is_arrested sütununda başka türlü mümkün olmayan matematiksel işlemleri kullanmamızı sağlayacaktır.

In [121]:
ri.info()

# datasetimin sütun ve satırları hakkında bilgilere bakıyorum. 
# bu sayede resmi görebiliyorum

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_date           48010 non-null  object
 2   stop_time           48010 non-null  object
 3   location_raw        48010 non-null  object
 4   police_department   48010 non-null  object
 5   driver_gender       48010 non-null  object
 6   driver_age_raw      48010 non-null  float64
 7   driver_age          47778 non-null  float64
 8   driver_race_raw     48010 non-null  object
 9   driver_race         48010 non-null  object
 10  violation_raw       48010 non-null  object
 11  violation           48010 non-null  object
 12  search_conducted    48010 non-null  bool
 13  search_type_raw     2012 non-null   object
 14  search_type         2012 non-null   object
 15  contraband_found    48010 non-null  bool
 16  stop_outcome        48010 non-null  object
 17  is_arrested         48010 non-null  bool
 18  stop_duration       48010 non-null  object
 19  out_of_state        47795 non-null  object
 20  drugs_related_stop  48010 non-null  bool
 21  district            48010 non-null  object
dtypes: bool(4), float64(2), object(16)
memory usage: 7.1+ MB

In [122]:
ri.dtypes

# hangi sütunda hangi data tipi olduğuna baktım

id                     object
stop_date              object
stop_time              object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested              bool
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

In [123]:
ri.is_arrested.head()

# object tipinde olduğunu gördüm. 
# biz bunu bool görmek istiyoruz. buna bir ayar çekmemiz lazım.

0    False
1    False
3    False
4    False
5    False
Name: is_arrested, dtype: bool

In [124]:
type(ri.is_arrested.values[0])

numpy.bool_

In [125]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

# ri["is_arrested"] serisinin içeriğini bool yapıp kendisine eşitliyorum. yani bool'a değiştirmiş oluyorum.

In [126]:
ri["is_arrested"]

# dtype ının boolean a döndüğünü gördük.

0        False
1        False
3        False
4        False
5        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: is_arrested, Length: 48010, dtype: bool

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: stop_date and stop_time.

You'll combine these two columns into a single column, and then convert it to datetime format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

Use a string method to concatenate stop_date and stop_time (separated by a space), and store the result in combined.
Convert combined to datetime format, and store the result in a new column named stop_datetime.
Examine the DataFrame .dtypes to confirm that stop_datetime is a datetime column.

### 10. BİRLEŞTİRİLMESİ İCAP EDEN SÜTUNLARI BİRLEŞTİRİP SADELİK VE AMACA ODAKLANMAYI SAĞLIYORUM

şimdi stop_date ve stop_time columnlarından bir tek column elde edeceğiz ve onu datetime formatına çevireceğiz.

In [127]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
3,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

İki pandas serisini str.cat() fonksiyonunu kullanarak birleştireceğim.
stop_date'i .str.cat()' in içine pas edeceğim ri.stop_time ile birleştireceğim.
ve bunu combined adlı değişkene atayacağım.

In [128]:
combined = ri.stop_date.str.cat(ri.stop_time, sep = " ")

combined

# artık combined diye bir serim var. şimdi bu değişkeni kullanarak yeni bir sütun oluşturacağım.

0        2005-01-02 01:55
1        2005-01-02 20:30
3        2005-01-04 12:55
4        2005-01-06 01:30
5        2005-01-12 08:05
               ...
49995    2006-08-08 22:45
49996    2006-08-08 22:45
49997    2006-08-08 22:53
49998    2006-08-08 23:00
49999    2006-08-08 23:00
Name: stop_date, Length: 48010, dtype: object

şimdi stop_datetime diye bir sütun oluşturup combined adlı serie mi ona atayacağım.

hem date i hem time ı birleştirdiğim için adını stop_datetime vereceğim.

bunu (to_datetime() fonksiyonu ile) datetime tipine çevireceğim ve artık beraberinde gelecek datetime metodlarını kullanabileceğim.

In [129]:
ri["stop_datetime"] = pd.to_datetime(combined)

# combined adıyla oluşturduğumuz serie'yi to_datetime() ın içine gönderdik 
# ve stop_datetime sütununu oluşturup tipini datetime yaptık.

In [130]:
# şimdi eski iki sütunu drop edelim.

ri.drop(["stop_date", "stop_time"], axis = "columns", inplace=True)

In [131]:
ri.head()

# stop_datetime sütununu en sonda oluşturulduğunu görebiliyoruz

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00
3,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55:00
4,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30:00
5,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05:00

In [132]:
ri.dtypes

id                            object
location_raw                  object
police_department             object
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race_raw               object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type_raw               object
search_type                   object
contraband_found                bool
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
out_of_state                  object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

The last step that you'll take in this chapter is to set the stop_datetime column as the DataFrame's index. By replacing the default index with a DatetimeIndex, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

INSTRUCTIONS

Set stop_datetime as the DataFrame index.
Examine the index to verify that it is a DatetimeIndex.
Examine the DataFrame columns to confirm that stop_datetime is no longer one of the columns.

TR Bu bölümde atacağınız son adım, stop_datetime sütununu DataFrame'in dizini olarak ayarlamaktır. Varsayılan dizini bir DatetimeIndex ile değiştirerek, veri kümesini tarih ve saate göre analiz etmeyi kolaylaştıracaksınız, bu da kursun ilerleyen bölümlerinde kullanışlı olacaktır.

TALİMATLAR

stop_datetime'ı DataFrame dizini olarak ayarlayın. Bir DatetimeIndex olduğunu doğrulamak için dizini inceleyin. stop_datetime öğesinin artık sütunlardan biri olmadığını doğrulamak için DataFrame sütunlarını inceleyin.

### 11. SON ŞEKİLLENDİRMEYİ YAPIYORUM

In [139]:
#ri.set_index("stop_datetime", inplace = True)

In [140]:
ri.head(2)

# stop_datetime'ın artık index olduğunu görebiliyorum.

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [ ]:
ri.shape

# biri index olunca sütun sayısının 20'ye düştüğünü gördük

(48010, 20)

In [ ]:
ri.columns

# stop_datetime öğesinin artık sütunlardan biri olmadığını doğrulamak için DataFrame sütunlarını inceledim.

Index(['id', 'location_raw', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

In [ ]:
ri.to_csv("RI_27June.csv", index = False)

In [ ]:
ri = pd.read_csv("RI_27June.csv")

ri.head()

c:\users\hüseyin\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1